<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortener</title>

    <!-- ZMDI Material Design Iconic Font CDN -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/material-design-iconic-font@2.2.0/dist/css/material-design-iconic-font.min.css"
    />

    <link rel="icon" type="image/svg+xml" href="/images/Logo.png" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include("partials/header.ejs") %>

    <div id="container">
      <% if(user) { %>
      <div class="status-badge success">
        <i class="zmdi zmdi-check-circle"></i>
        <span>You are logged In</span>
      </div>
      <% } else { %>
      <div class="status-badge warning">
        <i class="zmdi zmdi-alert-circle"></i>
        <span>You are not logged In</span>
      </div>
      <% } %>

      <h1>URL Shortener</h1>
      <form action="/" method="post">
        <div class="input-div">
          <label for="url">Enter URL:</label>
          <input
            type="url"
            name="url"
            id="url"
            placeholder="Enter URL Here"
            required
          />
        </div>
        <div class="input-div">
          <label for="shortCode">Enter Short Code:</label>
          <input
            type="text"
            name="shortCode"
            id="shortCode"
            placeholder="Enter Short Code Here"
            required
          />
        </div>
        <button type="submit">Shorten</button>
      </form>

      <h2>Shortened URLs:</h2>
      <ul>
        <% if(links.length>0) {%> <% links.forEach((link) => { %>
        <li>
          <a href="/<%= link.shortCode %>"
            ><%= `http://${host}/${link.shortCode}` %></a
          >
          - <%= link.url %>
        </li>
        <% }) %> <% } else { %>
        <p class="no-urls">No URLs have been shortened yet.</p>
        <% } %>
      </ul>
    </div>

    <%- include("partials/footer.ejs") %>
  </body>
</html>
